.row{
    padding-top: 50px;
    padding-left: 30pt;
}
.card-header{
    min-width: fit-content;
}
.card{
    
    width: fit-content;
}
.table{
    width:100%;
    margin-bottom: 0;
}
.card-body{
    padding:0;
}